<div class="row-fluid">
  <div class="span3">
    <div class="black-box">
      <div class="tab-header">Arm Camera</div>
      <div style="width:100%;height:340px;">
        <div id="arm-cam-container" style="height:340px;overflow:hidden;">
          <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="1" style="overflow:hidden;margin-top: 0px;width:640px;height:340px;-webkit-transform: rotate(0deg)">
            <video autoplay>
              <source type="video/flash" src="http://10.1.57.143:8090/test1.flv?date=<%= Time.new.gmtime.strftime("%H:%M:%S") %>Z"/>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span3" style="height:360px;">
    <div class="black-box">
      <div class="tab-header">Water Station Camera</div>
      <div id="arm-cam-container" style="height:340px;overflow:hidden;">
        <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="1" style="overflow:hidden;margin-top: 0px;width:640px;height:340px;-webkit-transform: rotate(0deg)">
          <video autoplay>
            <source type="video/flash" src="http://10.1.57.143:8090/test2.flv?date=<%= Time.new.gmtime.strftime("%H:%M:%S") %>Z"/>
          </video>
        </div>
      </div>
    </div>
  </div>

  <div class="span2" style="height:360px;">
    <div class="black-box">
      <div class="tab-header">Arm Control</div>
      <%= render 'arm_control' %>
    </div>
  </div>

  <div class="span4">
    <div class="black-box">
      <div class="tab-header">Arm Position</div>
      <div id="arm-portrait"></div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <div class="black-box">
      <div class="tab-header">Plant Rotation</div>
      <div class="padded">
      <%= render 'table_control' %>
      </div>
    </div>
  </div>

  <div class="span2" style="width: 17.1991%">
    <div class="black-box">
      <div class="tab-header">Table Rotation</div>
      <div class="padded">
      <%= render 'plant_control' %>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="black-box">
      <div class="tab-header">Move Gripper</div>
      <div class="padded">
      <div class="btn-toolbar" style="margin:0;padding:0;width:100%;">
        <div class="btn-group" style="margin-top:0;width:100%;">
          <button class="btn btn-small btn-primary" style="margin:0;width:33%;">OPEN</button>
          <button class="btn btn-small btn-danger" style="margin:0;width:33%;">STOP</button>
          <button class="btn btn-small btn-primary" style="margin:0;width:33%;">CLOSE</button>
        </div>
      </div>
</div>
    </div>
  </div>

  <div class="span2">
    <div class="black-box">
      <div class="tab-header">Move Arm</div>
      <div class="padded">
        <button id="arm-execute-motion" class="btn btn-small btn-primary" style="margin:0;">Execute Motion</button>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="black-box">
      <div class="tab-header">Recent Logs</div>
      <div class="padded" style="height: 80px; overflow-y: scroll;">
        <div class="log inner-well">
          <span class="log-date">8/20/13 4:50PM</span>
          <p class="log-entry">
          Plant 3 watered for 75 seconds.</p>
        </div>
        <div class="log inner-well">
          <span class="log-date">8/20/13 2:20PM</span>
          <p class="log-entry">
          Plant 4 watered for 150 seconds.</p>
        </div>
        <div class="log inner-well">
          <span class="log-date">7/15/13 4:50PM</span>
          <p class="log-entry">
          This is a recent log.</p>
        </div>
       <div class="log inner-well">
          <span class="log-date">7/15/13 4:50PM</span>
          <p class="log-entry">
          This is a recent log.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span3" style="position:relative;margin-top:-8px;">
    <%= render 'light' %>
    <%= render 'tomorrow' %>
  </div>

  <div class="span5" style="position:relative;margin-top: -46px;">
    <div class="row-fluid">
      <div class="span8">
        <div class="black-box" style="height:194px;position:relative;">
          <div class="tab-header">Moisture Probe & Watering Station</div>
          <div class="padded">
            <%= render 'water' %>
          </div>
        </div>
      </div>
      <div class="span4" style="position:relative;margin-left:7px;width:">
        <div class="black-box" style="height:194px;">
          <%= render 'plumbing' %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <%= image_tag "fluid-schematic.png", style: "height:350px;width:100%;" %>
    </div>
    <div class="black-box" style="margin-top:8px;">
      <div style="text-align:center;"><h3>Wed Aug 21, 2013 2:13 PM</h3></div>
    </div>
  </div>
  <div class="span4">
    <div style="position:relative;">
      <div id="chart-moisture" style="position:relative;width:100%;height:144px;background:#ccc;margin-bottom:1px;"></div>
      <div style="padding:4px;position:absolute;right:0;bottom:0;background:#000;color:#fff;font-size:12px;">Current Moisture Level: <span class="moisture"></span>% +/- 5%</div>
    </div>
    <div style="position:relative;">
      <div id="chart-temperature" style="position:relative;width:100%;height:144px;background:#ccc;margin-bottom:1px;"></div>
      <div style="padding:4px;position:absolute;right:0;bottom:0;background:#000;color:#fff;font-size:12px;">Current Temperature: <span class="temperature"></span>75&deg;F</div>
    </div>
    <div style="position:relative;">
    <div style="position:relative;">
      <div id="chart-tds" style="position:relative;width:100%;height:144px;background:#ccc;margin-bottom:1px;"></div>
      <div style="padding:4px;position:absolute;right:0;bottom:0;background:#000;color:#fff;font-size:12px;">Current TDS: <span class="temperature"></span>1970 ppm</div>
    </div>
    <div style="position:relative;">
      <div id="chart-ph" style="position:relative;width:100%;height:144px;background:#ccc;"></div>
      <div style="padding:4px;position:absolute;right:0;bottom:0;background:#000;color:#fff;font-size:12px;">Current pH: <span class="temperature"></span>6.1</div>
    
    </div>
  </div>
</div>
