<nav id="primary" class="main-nav">
  <ul>
    <li class="active">
      <%= link_to "", :data => { 'ui-context' => 'dashboard' } do %>
        <i class="icon-dashboard"></i> Dashboard
      <% end %>
    </li>

    <li>
      <%= link_to "", :data => { 'ui-context' => 'fluid' }  do %>
        <i class="icon-beaker"></i> Fluid
      <% end %>
    </li>

    <li>
      <%= link_to "", :data => { 'ui-context' => 'motion' } do %>
        <i class="icon-cog"></i> Motion
      <% end %>
    </li>
    
    <li>
      <%= link_to "/pages/widgets/widgets.html", :data => { 'ui-context' => 'eps'  } do %>
        <i class="icon-bolt"></i> Light
      <% end %>
    </li>

    <li>
      <%= link_to "/pages/charts/charts.html", :data => { 'ui-context' => 'log' } do %>
        <i class="icon-hdd"></i> Logs
      <% end %>
    </li>
 
  </ul>
</nav>
