<nav id="primary" class="main-nav">
  <ul>

    <li class="<%= nav_active("dashboard") %>">
      <%= link_to "/pages/dashboard/stats.html", relative: true do %>
        <i class="icon-dashboard"></i> Dashboard
      <% end %>
    </li>

    <li class="<%= nav_active(primary: "form_elements") %>">
      <%= link_to "/pages/form_elements/standard.html", relative: true do %>
        <i class="icon-cog"></i> Move
      <% end %>
    </li>

    <li class="<%= nav_active(primary: "user_interface") %>">
      <%= link_to "/pages/user_interface/buttons_dropdowns.html", relative: true do %>
          <i class="icon-beaker"></i> Fluids
      <% end %>
    </li>

    <li class="<%= nav_active(primary: "widgets") %>">
      <%= link_to "/pages/widgets/widgets.html", relative: true do %>
          <i class="icon-lightbulb"></i> Lights
      <% end %>
    </li>

    <li class="<%= nav_active(primary: "charts") %>">
      <%= link_to "/pages/charts/charts.html", relative: true do %>
          <i class="icon-bar-chart"></i> Charts
      <% end %>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i>More <span class="caret"></span></a>

      <ul class="dropdown-menu">
        <li>
          <% link_to "/pages/error_404.html", relative: true do %>
              <i class="icon-warning-sign"></i> Error 404
          <% end %>
        </li>

        <% if !@release %>

        <li>
          <% link_to "/pages/docs/docs.html", relative: true do %>
              <i class="icon-book"></i> Documentation
          <% end %>
        </li>

        <% end %>
        <li class="divider"></li>
        <li>
          <% link_to "/pages/login/login.html", relative: true do %>
              <i class="icon-off"></i> Log out (login page)
          <% end %>
        </li>
      </ul>
    </li>

  </ul>
</nav>
