<li class="<%= nav_active(secondary: "buttons_dropdowns") %>">
  <% link_to "/pages/user_interface/buttons_dropdowns.html", relative: true do %>
      <i class="icon-share"></i> Buttons & dropdowns
  <% end %>
</li>

<li class="<%= nav_active(secondary: "grid") %>">
  <% link_to "/pages/user_interface/grid.html", relative: true do %>
      <i class="icon-th"></i> Grid
  <% end %>
</li>

<li class="<%= nav_active(secondary: "icons") %>">
  <% link_to "/pages/user_interface/icons.html", relative: true do %>
      <i class="icon-thumbs-up"></i> Icons
  <% end %>
</li>

<li class="<%= nav_active(secondary: "modals") %>">
  <% link_to "/pages/user_interface/modals.html", relative: true do %>
      <i class="icon-share-alt"></i> Modals
  <% end %>
</li>

<li class="<%= nav_active(secondary: "notifications") %>">
  <% link_to "/pages/user_interface/notifications.html", relative: true do %>
      <i class="icon-flag"></i> Notifications
  <% end %>
</li>

<li class="<%= nav_active(secondary: "tables") %>">
  <% link_to "/pages/user_interface/tables.html", relative: true do %>
      <i class="icon-table"></i> Tables
  <% end %>
</li>