<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @datum.component %>
</p>

<p>
  <b>Value:</b>
  <%= @datum.value %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
