<!DOCTYPE html>
<html>
<head>
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>X-Hab Remote Plant Food production System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="https://raw.github.com/RobotWebTools/rosjs/groovy-devel/dist/eventemitter2.js"></script>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
</head>
<body>

<%= render :partial => "dashboard/modal" %>
<%= render :partial => "dashboard/primary_nav" %>

<section id="main">
  <%= render :partial => "dashboard/top_nav" %>
  <div class="container-fluid">
    <%= yield %>
    <%= render :partial => "shared/footer" %>
  </div>
</section>


</body>
</html>
